{% extends "base.html" %}

{% block title %}
My Restaurant
{% endblock %}


{% block content %}

<h2>This are the recipes:</h2>
    {% for m in menu_item %}
    
    <div class="card mt-3 mb-2" style="width: 25rem; margin: 10px;" >
  <div class="card-body">
    <h5 class="card-title"><a href="{% url 'item_page' m.id %}">{{m.name}}</a></h5>
    <p class="card-text">
        {% if m.ings|length > 0  %}
         <div class="card-header">
            Ingredients:
               </div>
        {% endif %}
      
        <ul class="list-group list-group-flush">
        {% for i in m.ings %}
    
            <li  class="list-group-item">{{i.0}}: {{i.1}} units</li>  
        {% endfor %}
        </ul>
        </p>
        
        <a href="{% url 'item_page' m.id %}" class="btn btn-primary">details</a>
         </div>
</div>
    {% endfor %}


{% endblock %}