{% extends "inventory/base.html"%}

{% block content %}

<h1>List of Ingredinets:</h1>

<div class="row">

    {% for menuitem in menuitem_list %}

        <div class="col-sm-6 col-md-3">
            <div class="card" >
                <img src="{{ menuitem.image_url }} " class="card-img-top" alt="...">

                <div class="card-body">
                <h5 class="card-title">{{ menuitem.title }}</h5>
                <p class="card-text">Price {{ menuitem.item_price }} €. <br>
                
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    {% endfor %}
</div>

{% endblock %}